<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="table-wrapper" data-bind="blockLoader: isLoading">
    <strong data-bind="text:title"></strong>
    <table class="data table nutrients">
        <caption class="table-caption" data-bind="text: $t('Nutrients')"></caption>
        <tbody>
        <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
</div>

